@import '../../../style/variables.scss';

.list-routine{
    &__default , &__category-fieldset{
        padding-top: 3rem;
        display: grid;
        gap: 2rem;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax($width-routine-card, 1fr));
    }

    &__category-fieldset{
        border: .3rem solid #7B3F00;
        padding: 1rem;
    }

    &__legend{
        color: #7B3F00;
        font-size: 4rem;
        font-weight: 600;
        margin-left: 2rem;
        padding: .5rem;
    }
}

.archived-routines{
    &__title{
        display: flex;
        align-items: center;
        width: 100%;
        color: $color-black-1;
        cursor: pointer;
        &::after,&::before{
            content: "";
            display: block;
            background-color: $color-black-1;
            height: .4rem;
            width: 100%;
            margin: 1.5rem;
        }
    }
}