.slide {
    align-self: center;
    width: 47.8rem;

    // &__each-slide-effect{
    //     background-color: aqua;
    // }

    &__each-slide-effect{

        margin: 35px;

        // &>div{
        //     margin-left: auto;
        //     margin-right: auto;
        // }
    }

    // &__indicator {
    //     cursor: pointer;
    //     padding: 10px;
    //     text-align: center;
    //     border: 1px #666 solid;
    //     margin: 0;
    // }

    // &__indicator.active {
    //     color: #fff;
    //     background: #666;
    // }
}

