@import '../../../style/variables.scss';

.option-bar{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    @media (max-width : $tablet-view){
      justify-content: center;
      align-items: center;
    }
    .adding-routine-button{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px 12px;
            gap: 4px;
            // height: 5rem;
            border: none;
            // background: #1b1b1cd0;
            // border-radius: 10rem;
            cursor: pointer;

            &:first-of-type{
              margin-left: auto;

              @media (max-width : $tablet-view){
                margin-left: 0;
              }
            }
          
          // .lable {
          //   line-height: 22px;
          //   font-size: 2rem;
          //   color: #DE8A2A;
          //   letter-spacing: 1px;
          // }
          
          // &:hover {
          //   background: #1b1b1cea;
          // }
          
          &:hover .svg-icon {
            animation: rotate 1.3s linear infinite;
          }
          
          @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }
          
            25% {
              transform: rotate(10deg);
            }
          
            50% {
              transform: rotate(0deg);
            }
          
            75% {
              transform: rotate(-10deg);
            }
          
            100% {
              transform: rotate(0deg);
            }
          }
    }
}