@import "../../../style/variables.scss";
@import "../../../style/mixins.scss";


.game-field-head {
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    color: $color-black-1;
    transition: color 1s;   
    .updating-informations {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;

        .prices-and-xps {
            display: flex;
            @media (max-width: 768px) {
                margin-right: 15rem;
            }
            .xp {
                display: inline;
                margin-right: 2rem;
                padding: 1rem 3rem;
                background-color: $color-tertiary-1;
                border-radius: 1rem;
                color: $color-white-1;
                
            }

            .coins {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem 3rem;
                background-color: $color-secondary;
                border-radius: 1rem;
                line-height: 100%;
                color: $color-white-1;
                svg {
                    fill: $color-white-1;
                    height: 3rem;
                    width: 3rem;
                    display: inline;
                    margin: 0px;
                }
            }
        }
    }

    .filter-and-adding-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1s solid black;
        .filter {
          margin-left: 1.5rem;
            $width-of-item-filter: 20rem;
            position: relative;
            border-bottom: .5px solid rgba($color-black-2, .5);
            padding-bottom: 1.8rem;
            input[type="radio"]{
                display: none;
                &:checked + .filter-item{
                    color: $color-primary;
                    width: $width-of-item-filter;
                }
                &:nth-of-type(2):checked ~ .selector {
                    transform: translateX(100%);
                    width:$width-of-item-filter;
                }
                &:nth-of-type(3):checked ~ .selector {
                    transform: translateX(200%);
                    width:$width-of-item-filter;
                }
                &:nth-of-type(4):checked ~ .selector {
                    transform: translateX(300%);
                    width: $width-of-item-filter;
                }
            }
            .filter-item {
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: $width-of-item-filter;
                .tag {
                    font-size: 1.7rem;
                    background-color: transparent;
                    padding: 1px 1rem;
                    margin: 0;
                    margin-left: 8px;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.383);
                    text-align: center;
                    border-radius: 100px;
                }
            }

            .selector{
                z-index: 10;
                position: absolute;
                left: -1px;
                bottom: -.5px;
                width: $width-of-item-filter;
                height: 3px;
                border-radius: 100px;
                background-color: $color-primary;
                transition: all .5s;
            }
        }
        .filter-drop-menu{
            display: none;
        }
        @media (max-width: 920px) {
            .filter{
                display: none;
            }
            .filter-drop-menu{
                display: inline;
            }
        }
        
        
        // button {
        //     // align-self: flex-start;
        //     // margin-top: 1rem;
        //     // cursor: pointer;
        //     // font-size: 2.5rem;
        //     // font-family: inherit;
        //     // font-weight: inherit;
        //     // padding: 1rem 2rem;
        //     // border: 0px;
        //     // border-radius: 1000rem;
        //     // background-color: $color-tertiary-1;
        //     // color: $color-white-1;
        //     // border: 1px solid $color-white-1;
        //     // padding: 1rem;
        //     // @include button-style($color-white-1, #43BEED, #287492, #43BEED, #43BEED,#7a9397)
        // }
    }
    .adding-routine-button{
        & {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px 12px;
            gap: 4px;
            height: 5rem;
            width: fit-content;
            border: none;
            background: #1b1b1cd0;
            border-radius: 10rem;
            cursor: pointer;
          }
          
          .lable {
            line-height: 22px;
            font-size: 2rem;
            color: #DE8A2A;
            letter-spacing: 1px;
          }
          
          &:hover {
            background: #1b1b1cea;
          }
          
          &:hover .svg-icon {
            animation: rotate 1.3s linear infinite;
          }
          
          @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }
          
            25% {
              transform: rotate(10deg);
            }
          
            50% {
              transform: rotate(0deg);
            }
          
            75% {
              transform: rotate(-10deg);
            }
          
            100% {
              transform: rotate(0deg);
            }
          }
    }
}


#dark .game__field--header {
    color: $color-white-1;
    .filter-and-adding-button {
        .filter {
            border-bottom: .5px solid rgba($color-white-2, .5);
        }
    }
}
.button {
    --main-focus: #2d8cf0;
    --font-color: #dedede;
    --bg-color-sub: #222;
    --bg-color: #323232;
    --main-color: #dedede;
    position: relative;
    width: 200px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(25px);
    color: var(--font-color);
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    right: -30px;
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    stroke: var(--main-color);
  }
  
  .button:hover {
    background: var(--bg-color);
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    right: 0;
    width: 100%;
    transform: translateX(0);
  }
  
  .button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }
  