@import '../../style/variables.scss';

$width-of-popup: 60rem;
$height-of-popup: 36rem;
.message-content-window{
    width: $width-of-popup;
    @media (max-width: $mini-tablet-view) {
        width: 35rem;
    }
    
    &__popup{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        min-height: $height-of-popup;
        height: $height-of-popup;
        max-width: 95vh;
    }

    &__head{
        height: max-content;
    }

    // &__title{
    // }

    &__message{
        border: 1px solid $color-black-1;
        border-radius: 1.5rem;
        padding: 1rem;
        height: 100%;

    }
}