@import "../../style/variables.scss";
// @import "../../style/mixins.scss";


$width-of-popup: 60rem;
$height-of-popup: 70rem;

$border-radius: .6rem;



.add-routine-window {
    width: $width-of-popup;
    font-size: 2.2rem;

    
    @media (max-width: $mini-tablet-view) {
        width: 90vw;
    }

    &__popup {
        max-height: 95vh;
        height: fit-content;
        overflow-y: scroll;

        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        @media (max-width: $mini-tablet-view) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }

        gap: .8rem 2rem;

    }
    
    &__head {
        grid-column: 1 / -1;     
    }

    // &__title {
    // }


    &__emoji-list{
        background-color: red
    }


    &__close-icon {
        margin-left: auto;
        height: 100%;
        width: auto;

        &:hover {
            cursor: pointer;
        }
    }

    &__add-box-icon {
        fill: $color-black-1;
        height: 100%;
        width: auto;
    }


   
    // &__title-input,
    // &__description-input,
    // &__message-input,
    // &__start-time-input,
    // &__end-time-input,
    // &__difficulty-input-div,
    // &__priority-input,
    // &__category-input {
        // height: 5rem;
    // }

    &__hours-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__start,
    &__end {
        width: calc($width-of-popup / 2 - 5rem);

        @media (max-width: 561px) {
            width: 100%;
        }
    }


    &__start-time-input,
    &__end-time-input {
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }

    &__difficulty-input {
        width: calc($width-of-popup / 2 - 5rem);
    }

    &__diff-imp-container {
        width: calc($width-of-popup / 2 - 5rem);

        @media (max-width: 561px) {
            width: 100%;
        }
    }

    &__difficulty-input {
        appearance: none;
        width: 70%;
        height: 5px;
        border-radius: $border-radius;
        background: #D5DBE1;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #000000;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }

        &::-webkit-slider-thumb:hover {
            box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.16);
            transition: 0.3s ease-in-out;
        }

        &::-moz-range-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #000000;
            cursor: pointer;
        }
        &-value{
            margin-left: 1rem;
        }
    }

    &__difficulty-inputvalue {
        font-weight: 300;
    }

    &__difficulty-input-div {
        display: flex;
        align-items: center;
        justify-content: center;
        // gap: 1rem;
        padding: 5px;
        border-radius: $border-radius;
        border: 1px solid $color-black-2 ;
    }


    &__emoji-add-btn-container {
        width: calc($width-of-popup / 2 - 5rem);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 561px) {
            justify-content: space-between;
            margin:10px 0;
            width: 100%;
            height: 60px;
        }
    }



    &__emoji-section {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    $emoji-dimensions : 4.5rem;

    &__emoji-btn {
        border: none;
        padding: 1rem;
        color: $color-white-1 ;

        background-color: $color-secondary ;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        width: calc(100% - 4.1rem);
        height: 100%;

        &:hover {
            background-color: #fbc42d;
        }
    }

    &__emoji-over-view {
        display: flex;
        align-self: center;
        justify-content: center;

        text-align: center;
        border: 1px solid $color-white-2;
        border-left: none;
        background-color: $color-white-1;

        width: $emoji-dimensions;
        height: 100%;
        
        font-size: 3.3rem;
        
        border-radius: 0 $border-radius $border-radius 0;
        text-shadow: 1px 2px 2px $color-black-1;
        box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12)
    }

    &__emoji-btn, &__add-btn , &__color-btn{
        color: $color-white-1;
        border: none;
    }

    &__add-btn{
        background-color: $color-primary;
        grid-column: 1 / -1;
        width : 100%;
        cursor: pointer;
        &:hover {
            background-color: $color-primary-1;
        }
        @media (max-width: 561px) {
            margin-top: auto;
        }
    }

    &__color-btn{
        background-color: $color-tertiary;
        width: 100%;
        &:hover {
            cursor: pointer;
            background-color: $color-tertiary-1;
        }
    }

    &__title-input {
        grid-column: 1 / -1;
        &:active,
        &:focus {
            border-color: $color-primary;
            outline-color: $color-primary;
        }
    }

    &__close-clock{
        color:$color-black-2;
        text-align: center;
        padding: 10px 0;
        &:hover{
            cursor: pointer;
        }
    }

    &__description-input,
    &__message-input {
        grid-column: 1 / -1;
        max-height: 5rem;

        &:active,
        &:focus {
            border-color: $color-primary;
            outline-color: $color-primary;
        }
    }

    em-emoji-picker,
    &__clock {
        z-index: 100;
        position: fixed !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}