@import "../../style/variables.scss";

$width-of-popup: 60rem;
$height-of-popup: 70rem;

.add-category-popup{
    display:flex;
    flex-direction: column;
    background-color: $color-white-1;
    border-radius: 3rem;
    padding: 2rem;
    height: $height-of-popup;
    width: $width-of-popup;
    @media (max-width: 562px) {
        height: $height-of-popup * 2;
        width: $width-of-popup * .7;
    } 
}