@import '../../style/variables.scss';

.page-header{
    width: 100%;
    height: $page-header-height;
    display: flex;
    align-items: center;
    background-color: $color-white-1;
    color: $color-black-1;
    font-size: 2rem;
    transition: all 1s;
}

#dark .page-header{
    background-color: $color-dark-mode-primary;
    color: $color-white-1;
}