@import '../../style/mixins.scss';
@import '../../style/fonts.scss';

$width-of-popup: 70rem;
$height-of-popup: 36rem;
.message-window{
    &__popup{
        @include popup-properties;
    }

    &__head{
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    &__message-icon{
        width: 5rem;
        margin-left: -5px; // to get align with the other elements
    }

    
    &__title{
        margin-left: 1rem;
        color: $color-black-1;
        @include head3;
    }

    &__description{

        font-size: 2.5rem;
        margin-bottom: 1rem;
        
    }
    
    &__input-text{
        font-size: 2.5rem;
        max-width: 100%; // there is an overflow caus the margin we added at the left
        min-width: 100%;
        padding: 5px;
        border: 1px solid $color-black-1 ;
        border-radius: 5px;
        margin-bottom: 1rem;
        color: $color-black-1;
        flex-grow: 1;
        &:active, &:focus{
            border-color: $color-primary;
            outline-color: $color-primary;
        }
    }

    &__buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__button{   
        font-size: 2.5rem;
        background-color: red;
        border: none;
        width: calc($width-of-popup / 2) - 4rem; // ther is a gap of 2rem betwwen two buttons
        border-radius: 1rem;

        @media (max-width: 562px) {
            width: 100%;
        }
        
        &--filled{
            color: $color-white-1;
            background-color: $color-primary;
            padding: 1.5rem;

            &:hover{
                cursor: pointer;
            }
        }

        &--outlined{
            color: $color-primary;
            background-color:  $color-white-1;
            padding: 1.5rem;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}