.ReactModalPortal .ReactModal{
    &__Overlay {
        z-index: 100 !important;
        transition: opacity 2000ms ease-in-out;
        background-color: rgba(0, 0, 0, 0.542) !important;
        &--after-open{
            opacity: 1;
        }
        &--before-close{
            opacity: 0;
        }
    }
    
    &__Content{
        background-color: transparent !important;
        border: none !important;

        display: flex;
        align-items: center;
        justify-content: center;

        width: fit-content;
        height: fit-content;

        inset:0 !important;
        margin: auto; // to center the content in the center of page

        padding: 0 !important;

        overflow: visible !important;
    }
}

// .popup-model{
//     &__wrapper{
        
//     }
// }
