@import '../../style/variables.scss';
@import '../../style/mixins.scss';

.game-field{
    display: flex;
    background-color: $color-white-1;
    transition: background-color 1s;
    min-height: 100vh;
    padding: 3rem;
    main{
        padding-right: 90px;
        @media (max-width: 768px){
            padding: 1rem;
        }
        width: 100%;
        
    }
}

#dark .game-field{
    background-color: $color-dark-mode-primary;
}