$color-primary: #009245;
$color-secondary: #FDC830;
$color-tertiary: #43BEED;
$color-quaternary: #F4371D;

$color-primary-dark: #00602d;
$color-primary-1: #008A41;

$color-tertiary-1: #1B9DCF;
$color-quaternary-1: #EA3117;

$color-quoter: #3F3D56;
$color-white-1: #FAFAFA;
$color-white-12: #f4f4f4;
$color-white-2: #dbdbdb;

$color-dark-mode-primary: #1F253D;
$color-dark-mode-secondary: #3F3D56;
$color-dark-mode-secondary-light: #4d4a67;


$color-black-1: #383838;
$color-black-2: #525252;

$height-section: 80rem;

$--orange:#fd7e14;

$clock-size: 400px;

$emoji-height: 5rem;

$shadow-style-1 : rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

$width-navigation: 7rem;
$page-header-height: 8rem;
$user-bar-height: 5.5rem;

$desktop-view: 1280px;
$tablet-view : 768px;
$mini-tablet-view: 562px;