$green-8: #009245;
$color-secondary: #FDC830;
$color-tertiary: #43BEED;
$color-quaternary: #F4371D;



$green-3: #b7eb8f;
$green-7: #389e0d;
$green-8: #237804;

$blue-3: #91caff;
$blue-6: #1677ff;
$blue-7: #0958d9;
$blue-8: #003eb3;

$yellow-3: #fffb8f;
$yellow-6: #fadb14;
$yellow-7: #d4b106;
$yellow-8: #ad8b00;

$cyan-1 : #e6fffb;
$cyan-2 : #b5f5ec;
$cyan-3 : #87e8de;
$cyan-4 : #5cdbd3;
$cyan-5 : #36cfc9;
$cyan-6 : #13c2c2;
$cyan-7 : #08979c;
$cyan-8 : #006d75;
$cyan-9 : #00474f;
$cyan-10 : #002329;

$orange-1: #fff7e6;
$orange-2: #ffe7ba;
$orange-3: #ffd591;
$orange-4: #ffc069;
$orange-5: #ffa940;
$orange-6: #fa8c16;
$orange-7: #d46b08;
$orange-8: #ad4e00;
$orange-9: #873800;
$orange-10: #612500;

$volcano-1: #fff2e8;
$volcano-2: #ffd8bf;
$volcano-3: #ffbb96;
$volcano-4: #ff9c6e;
$volcano-5: #ff7a45;
$volcano-6: #fa541c;
$volcano-7: #d4380d;
$volcano-8: #ad2102;
$volcano-9: #871400;
$volcano-10: #610b00;

$red-1 : #fff1f0;
$red-2 : #ffccc7;
$red-3 : #ffa39e;
$red-4 : #ff7875;
$red-5 : #ff4d4f;
$red-6 : #f5222d;
$red-7 : #cf1322;
$red-8 : #a8071a;
$red-9 : #820014;
$red-10 : #5c0011;


$green-8-dark: #00602d;
$green-8-1: #008A41;

$green-8-light: #00b45a;

$color-tertiary-1: #1B9DCF;
$color-quaternary-1: #EA3117;

$color-quoter: #3F3D56;
$color-white-1: #FAFAFA;
$color-white-12: #f4f4f4;
$color-white-2: #dbdbdb;

$color-dark-mode-primary: #1F253D;
$color-dark-mode-secondary: #3F3D56;
$color-dark-mode-secondary-light: #4d4a67;


$color-black-1: #383838;
$color-black-2: #525252;

$height-section: 80rem;

$--orange:#fd7e14;

$clock-size: 400px;

$emoji-height: 5rem;

$shadow-style-1 : rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

$width-navigation: 7rem;
$page-header-height: 7rem;
$user-bar-height: 5.5rem;

$desktop-view: 1280px;
$tablet-view : 768px;
$mini-tablet-view: 562px;

$width-routine-card: 40rem; // not to remove from here paratagable

$height-routine-card: 25rem;

$page-padding : 2rem;