@import "../../style/mixins.scss";
@import '../../style/variables.scss';


$height-routine-card: 25rem;

.routine {
    position: relative;

    margin-top: $emoji-height;
    margin-bottom: 1rem;
    
    padding: 1.5rem;
    padding-top: 0;

    width: $width-routine-card;
    max-width: $width-routine-card;
    height: $height-routine-card;

    background-color: $color-white-2;
    color: $color-black-1;

    border-radius: 2rem;
    box-shadow: 0px 11px 14px rgba(0, 0, 0, 0.262);

    transition: all 1s;

    background: rgba( 74, 144, 226, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    .category{
        position: absolute;
        left: 0;
        top: 1.5rem;
        width: 7rem;
        height: 3rem;
        background-color: $color-dark-mode-secondary-light;
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0 0);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1rem;
        font-size: 2rem;

        &:hover{
            cursor: pointer;
        }
    }

    .important {
        top: -2.2rem;
        right: 1.8rem;
        transform: rotate(-45deg);
        clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
        position: absolute;
        width: 2rem;
        height: 10rem;
        background-color: $color-quaternary-1;
    }
    .medium{
        top: -2.2rem;
        right: 1.8rem;
        transform: rotate(-45deg);
        clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
        position: absolute;
        width: 2rem;
        height: 10rem;
        background-color: $--orange;
    }

    .emoji {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 10rem;
        height: 10rem;
        font-size: 7rem;
        background-color: rgba(255, 252, 220, 0.702);
        overflow: hidden;
        border-radius: 1.6rem;
        top: - $emoji-height;
        background-color: #1c7430;
        left: calc($width-routine-card/ 2 - 10rem / 2);
        text-shadow: 1px 2px 2px $color-black-1;
    }

    .title {
        display: block;
        align-items: start;
        justify-self: flex-start;
        padding-top: $emoji-height;
        font-size: 4rem;
        height: fit-content;
        font-weight: 700;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .description {
        padding-top: 1rem;
        font-size: 2.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .extra {
        display: flex;
        justify-content: space-between;
        padding-top: .25rem;
        padding-bottom: .25rem;
        font-size: 2rem;
        border-bottom: 1px solid $color-black-2;
    }


    .buttons {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
        
        


    }

    
    &__other-options{
        position: relative;
        display: block;
        background-color: transparent;
        border: none;
        padding: .1rem;
        height: 5rem;
        fill: $color-black-1;
        cursor: pointer;
        transition: fill 1s;
        svg{
            height: 100%;
        }
    }

    &__other-options-list{
        $width-list: 27rem;
        position: absolute;
        background-color: $color-white-1;
        width: $width-list;
        left: - $width-list - 1rem;
        bottom: 0;
        text-align: start;
        border-radius: 5px;
        overflow: hidden;
    }

    &__other-options-item{
        font-weight: 500;
        font-size: 2.5rem;
        color: $color-black-1;
        border-bottom: .5px solid rgba($color-black-1, .1);
        align-items: start;
        list-style-type: none;
        padding: 1rem .5rem;
        &:hover{
            background-color: $color-white-12;
        }
    }

}

#dark .routine {
    // background-color: $color-dark-mode-secondary;
    color: $color-white-1;

    &__other-options{
        fill: $color-white-1;
    }
}