@import "../../style/mixins.scss";
@import '../../style/variables.scss';

$width-routine-card: 40rem;


.routine {
    margin-top: $emoji-height;
    margin-bottom: 5rem;
    width: $width-routine-card;
    max-width: $width-routine-card;
    height: 25rem;
    border-radius: 2rem;
    box-shadow: 0px 11px 14px rgba(0, 0, 0, 0.262);
    position: relative;
    padding: 1.5rem;
    padding-top: 0;
    transition: all 1s;
    background-color: $color-white-2;
    color: $color-black-1;

    
    background: rgba( 74, 144, 226, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    .category{
        position: absolute;
        left: 0;
        top: 1.5rem;
        width: 7rem;
        height: 3rem;
        background-color: $color-dark-mode-secondary-light;
        clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0 0);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1rem;
        font-size: 2rem;

        &:hover{
            cursor: pointer;
        }
    }

    .important {
        top: -2.2rem;
        right: 1.8rem;
        transform: rotate(-45deg);
        clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
        position: absolute;
        width: 2rem;
        height: 10rem;
        background-color: $color-quaternary-1;
    }
    .medium{
        top: -2.2rem;
        right: 1.8rem;
        transform: rotate(-45deg);
        clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
        position: absolute;
        width: 2rem;
        height: 10rem;
        background-color: $--orange;
    }

    .emoji {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 10rem;
        height: 10rem;
        font-size: 7rem;
        background-color: rgba(255, 252, 220, 0.702);
        overflow: hidden;
        border-radius: 1.6rem;
        top: - $emoji-height;
        background-color: #1c7430;
        left: calc($width-routine-card/ 2 - 10rem / 2);
        text-shadow: 1px 2px 2px $color-black-1;
    }

    .title {
        display: block;
        align-items: start;
        justify-self: flex-start;
        padding-top: $emoji-height;
        font-size: 4rem;
        height: fit-content;
        font-weight: 700;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .description {
        padding-top: 1rem;
        font-size: 2.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .extra {
        display: flex;
        justify-content: space-between;
        padding-top: .25rem;
        padding-bottom: .25rem;
        font-size: 2rem;
        border-bottom: 1px solid $color-black-2;
    }


    .buttons {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
        
        .btn {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            outline:none;
            cursor: pointer;
            width: 5rem;
            height: 5rem;
            border-radius: 1rem;
            svg {
                fill: $color-white-1;
                width: 100%;
                height: 100%;
            }
          }
    
          .btn:disabled{
            opacity: 0.6;
            cursor:default;
          }

        .btn-info {
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8;
        }
    
        .btn-info:hover {
            color: #fff;
            background-color: #138496;
            border-color: #117a8b;
        }
    
        .btn-info:focus,
        .btn-info.focus {
            box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
        }
    
        .btn-info.disabled,
        .btn-info:disabled {
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8;
        }
    
        .btn-info:not(:disabled):not(.disabled):active,
        .btn-info:not(:disabled):not(.disabled).active,
        .show>.btn-info.dropdown-toggle {
            color: #fff;
            background-color: #117a8b;
            border-color: #10707f;
        }
    
        .btn-info:not(:disabled):not(.disabled):active:focus,
        .btn-info:not(:disabled):not(.disabled).active:focus,
        .show>.btn-info.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
        }
    
        .btn-success {
            color: #fff;
            background-color: #28a745;
            border-color: #28a745;
        }
    
        .btn-success:hover {
            color: #fff;
            background-color: #218838;
            border-color: #1e7e34;
        }
    
        .btn-success:focus,
        .btn-success.focus {
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
        }
    
        .btn-success.disabled,
        .btn-success:disabled {
            color: #fff;
            background-color: #28a745;
            border-color: #28a745;
        }
    
        .btn-success:not(:disabled):not(.disabled):active,
        .btn-success:not(:disabled):not(.disabled).active,
        .show>.btn-success.dropdown-toggle {
            color: #fff;
            background-color: #1e7e34;
            border-color: #1c7430;
        }
    
        .btn-success:not(:disabled):not(.disabled):active:focus,
        .btn-success:not(:disabled):not(.disabled).active:focus,
        .show>.btn-success.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
        }
    
        .btn-danger {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }
    
        .btn-danger:hover {
            color: #fff;
            background-color: #c82333;
            border-color: #bd2130;
        }
    
        .btn-danger:focus,
        .btn-danger.focus {
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
        }
    
        .btn-danger.disabled,
        .btn-danger:disabled {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }
    
        .btn-danger:not(:disabled):not(.disabled):active,
        .btn-danger:not(:disabled):not(.disabled).active,
        .show>.btn-danger.dropdown-toggle {
            color: #fff;
            background-color: #bd2130;
            border-color: #b21f2d;
        }
    
        .btn-danger:not(:disabled):not(.disabled):active:focus,
        .btn-danger:not(:disabled):not(.disabled).active:focus,
        .show>.btn-danger.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
        }

        .btn-secondary {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d
        }
        
        .btn-secondary:hover {
            color: #fff;
            background-color: #5a6268;
            border-color: #545b62;
        }
        
        .btn-secondary.focus,
        .btn-secondary:focus {
            box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
        }
        
        .btn-secondary.disabled,
        .btn-secondary:disabled {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d
        }
        
        .btn-secondary:not(:disabled):not(.disabled).active,
        .btn-secondary:not(:disabled):not(.disabled):active,
        .show>.btn-secondary.dropdown-toggle {
            color: #fff;
            background-color: #545b62;
            border-color: #4e555b
        }
        
        .btn-secondary:not(:disabled):not(.disabled).active:focus,
        .btn-secondary:not(:disabled):not(.disabled):active:focus,
        .show>.btn-secondary.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
        }

        .btn-message {
            color: #fff;
            background-color: #fd7e14;
            border-color: #ec6f09;
        }
        
        .btn-message:hover {
            color: #fff;
            background-color: #ec6f09;
            border-color: #de6706;
        }
        
        .btn-message.focus,
        .btn-message:focus {
            box-shadow: 0 0 0 .2rem rgba(#ec6f09, .5)
        }
        
        .btn-message.disabled,
        .btn-message:disabled {
            color: #fff;
            background-color: #ff8e32;
            border-color: #ee8025;
        }
        
        .btn-message:not(:disabled):not(.disabled).active,
        .btn-message:not(:disabled):not(.disabled):active,
        .show>.btn-message.dropdown-toggle {
            color: #fff;
            background-color: #ec6f09;
            border-color: #de6706;
        }
        
        .btn-message:not(:disabled):not(.disabled).active:focus,
        .btn-message:not(:disabled):not(.disabled):active:focus,
        .show>.btn-message.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(#de6706, .5)
        }



    }

    
    &__other-options{
        position: relative;
        display: block;
        background-color: transparent;
        border: none;
        padding: .1rem;
        height: 5rem;
        fill: $color-black-1;
        cursor: pointer;
        transition: fill 1s;
        svg{
            height: 100%;
        }
    }

    &__other-options-list{
        $width-list: 27rem;
        position: absolute;
        background-color: $color-white-1;
        width: $width-list;
        left: - $width-list - 1rem;
        bottom: 0;
        text-align: start;
        border-radius: 5px;
        overflow: hidden;
    }

    &__other-options-item{
        font-weight: 500;
        font-size: 2.5rem;
        color: $color-black-1;
        border-bottom: .5px solid rgba($color-black-1, .1);
        align-items: start;
        list-style-type: none;
        padding: 1rem .5rem;
        &:hover{
            background-color: $color-white-12;
        }
    }

}

#dark .routine {
    // background-color: $color-dark-mode-secondary;
    color: $color-white-1;

    &__other-options{
        fill: $color-white-1;
    }
}